*{
    padding: 0;
    margin: 0;
    font-family: 'DotGothic16', sans-serif;
    font-size: 36px;
}

#container-group{
    display: flex;
    justify-content: space-around;
    place-items: center;
    height: 100%;
    width: 100%;
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}

@media only screen and (max-width:1024px){
    #container-group{
        flex-direction: column;
    }
